<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Bluesky Report{% endblock %}</title>
  <link rel="stylesheet" href="assets/css/uswds.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {% include "header.html" %}
  <main>
    {% block content %}
    <!-- Page-specific content will go here -->
    {% endblock %}
  </main>
  {% include "footer.html" %}
</body>
</html>